<html>
  <head>
    <title>Welcome to ansible</title>
  </head>
  <body>
  <h1>{{ ansible_hostname }}, configured by Ansible</h1>
  <p>If you can see this, Ansible successfully installed webserver.</p>

  <p>{{ ansible_managed }}</p>
  </body>
</html>
